@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  font-family: 'Rajdhani', sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #050505;
  color: white;
  overflow-x: hidden;
}